/* Variables */

// Colors
$main-color: hsl(345, 27%, 30%);
$secondary-color: hsl(45, 29%, 97%);

//Fonts
$title-font: 'Lora', sans-serif;
$main-font: 'GT America Trial', sans-serif;

//Typography
$basic-font-size: 16px;