@use '../base/vars';

/* Navigation */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: transparent;
  color:  vars.$secondary-color;
  z-index: 1;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

.navbar.colored{
  background-color:  vars.$main-color;
}

.navbar__nav-links {
  a {
    color:  vars.$secondary-color;
  }
}