@use "mixins";

// FLEX-Layout

article > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    .article-banner {
        flex-grow: 1;
        flex-basis: 400px;
    }
    .article-description {
        flex-grow: 1;
        flex-basis: 250px;
    }
}

#travel-destination > article {
    &:nth-child(odd) > div {
        @include mixins.travel-article-flex(row);
    }

    &:nth-child(even) > div {
        @include mixins.travel-article-flex(row-reverse);
    }
}

/* 
// GRID-Layout
article > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 4rem;
    justify-items: space-between;
    align-items: center; 
}

#travel-destination > article {
    &:nth-child(odd) > div {
        @include mixins.travel-article-grid(1);
    }
    
    &:nth-child(even) > div {
        @include mixins.travel-article-grid(0);
    }
}
 */